/*===================================*
    CUSTOM SECTION
*===================================*/
@media (max-width: 767.98px) {
    section .section_title h2 {
        font-size: 24px;
    }
    section .section_title p {
        font-size: 16px;
    }
}
@media (max-width: 991.98px) {
    .overlay {
        position: fixed;
        display: none;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
        background-color: #000;
        opacity: 0.3;
        z-index: 9990;
    }
}
/*===================================*
    HEADER SECTION
*===================================*/
@media (min-width: 1200px) {
    header.fixed-top {
        position: fixed;
    }
}
@media (max-width: 991.98px) {
    .header_menu .nav-item .nav-link i {
        opacity: 1;
        padding-right: 5px;
        font-size: 16px;
    }
    .header_menu .nav-item {
        margin: 0 !important;
    }
    .header_menu .nav-link {
        padding: 0 !important;
        border-bottom: none;
        margin: 10px 0;
        line-height: 30px;
        font-size: 16px;
    }
    .header_menu .nav-item.active .nav-link,
    .header_menu .nav-item:hover .nav-link {
        border-bottom: none;
    }
    .dropdown .dropdown-menu {
        opacity: 1;
        visibility: visible;
        -webkit-transform: perspective(600px) rotateX(0deg);
        transform: perspective(600px) rotateX(0deg);
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-collapse {
        position: fixed;
        left: -100%;
        top: 0;
        bottom: 0;
        width: 40%;
        padding: 1rem;
        background-color: #fff;
        overflow: hidden;
        transition: -webkit-transform 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        z-index: 9999;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
            0 10px 10px rgba(0, 0, 0, 0.22) !important;
    }
    .navbar-collapse:not(.show) {
        display: block;
    }
    .navbar-collapse.show {
        left: 0;
    }
    header.fixed-top.animate__animated {
        -webkit-animation-duration: unset;
        animation-duration: unset;
        -webkit-animation-duration: unset;
        animation-duration: unset;
        -webkit-animation-fill-mode: unset;
        animation-fill-mode: unset;
    }
}
@media (max-width: 767.98px) {
    .navbar-collapse {
        width: 70%;
    }
    .header_menu .nav-item .nav-link i {
        font-size: 16px;
    }
    .header_menu .nav-link {
        font-size: 16px;
    }
}
@media (max-width: 575.98px) {
    header .menu_bar {
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }
    header .header_icon {
        -ms-flex-pack: justify !important;
        justify-content: space-between !important;
    }
    .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .header_logo .logo {
        width: 125px;
    }
    header .menu_bar {
        padding: 5px 0;
    }
    .header_menu .nav-item .nav-link i {
        font-size: 16px;
    }
    .header_menu .nav-link {
        font-size: 16px;
    }
}
/*===================================*
    BREADCUM SECTION
*===================================*/
@media (max-width: 991.98px) {
    .custom-container {
        margin: 0 auto;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .makp_breadcrumb .breadcrumb_content h1 {
        margin-bottom: 15px;
        font-size: 25px;
    }
}
/*===================================*
    SLIDER SECTION
*===================================*/
@media (max-width: 767.98px) {
    .slider_section.slide_medium,
    .slider_section.slide_medium .carousel-item,
    .slider_section.slide_medium .banner_content_wrap,
    .slider_section.slide_medium .banner_content_wrap .carousel-item,
    .slider_section.shop_el_slider,
    .slider_section.shop_el_slider .carousel-item,
    .slider_section.shop_el_slider .banner_content_wrap,
    .slider_section.shop_el_slider .banner_content_wrap .carousel-item {
        height: 350px;
    }
}
@media (max-width: 991.98px) {
    .slider_section .banner_content h5 {
        font-size: 16px;
    }
    .slider_section .banner_content h2 {
        font-size: 30px;
    }
    .slider_section .banner_content a {
        font-size: 12px;
    }
}
/*===================================*
    CART SECTION
*===================================*/
@media (max-width: 575.98px) {
    .button-cart-mobile .btn {
        font-size: 13px;
    }
}
/*===================================*
    LOGIN SECTION
*===================================*/
@media (max-width: 767.98px) {
    .blog_section .blog_info h3 a {
        font-size: 16px;
        line-height: 22px;
    }
    .login-wrapper {
        margin: 35px 0;
    }
    .custom-container .banner {
        padding: 60px 0;
    }
}
/*===================================*
    PRODUCT SECTION
*===================================*/
@media (max-width: 767.98px) {
    .product_section .star_rating i {
        font-size: 12px;
    }
    .product_section .product_info .card-title {
        font-size: 16px;
    }
    .product_section .product_item a {
        padding: 10px;
        margin: 0 5px;
    }
}
/*===================================*
    BLOG SECTION
*===================================*/
@media (max-width: 767.98px) {
    .blog_section .blog_info h3 a {
        font-size: 16px;
        line-height: 22px;
    }
}
/*===================================*
    SLIDER SECTION
*===================================*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .hero_item {
        padding: 85px 100px 60px 100px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero_item {
        padding: 50px 50px 40px 50px;
    }
}
@media only screen and (max-width: 767px) {
    .hero_item {
        padding: 70px 50px;
    }
}
@media only screen and (max-width: 479px) {
    .hero_item {
        padding: 50px 40px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero_slider .slick-dots {
        left: 50px;
    }
}
@media only screen and (max-width: 767px) {
    .hero_slider .slick-dots {
        left: 50px;
        bottom: 30px;
    }
}
@media only screen and (max-width: 479px) {
    .hero_slider .slick-dots {
        left: 40px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero_image {
        max-width: 240px;
    }
}
@media only screen and (max-width: 767px) {
    .hero_image {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        max-width: 200px;
        margin: auto;
    }
}
@media only screen and (max-width: 479px) {
    .hero_image {
        max-width: 160px;
    }
}
@media only screen and (max-width: 767px) {
    .hero_content {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        margin-top: 30px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero_content h2 {
        font-size: 24px;
    }
}
@media only screen and (max-width: 767px) {
    .hero_content h2 {
        font-size: 22px;
    }
}
@media only screen and (max-width: 479px) {
    .hero_content h2 {
        font-size: 18px;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .hero_content h1 span.big {
        font-size: 70px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero_content h1 span.big {
        font-size: 60px;
    }
}
@media only screen and (max-width: 767px) {
    .hero_content h1 span.big {
        font-size: 55px;
    }
}
@media only screen and (max-width: 479px) {
    .hero_content h1 span.big {
        font-size: 36px;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .hero_content h1 {
        font-size: 60px;
        line-height: 70px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero_content h1 {
        font-size: 50px;
        line-height: 60px;
    }
}
@media only screen and (max-width: 767px) {
    .hero_content h1 {
        font-size: 44px;
        line-height: 54px;
    }
}
@media only screen and (max-width: 479px) {
    .hero_content h1 {
        font-size: 30px;
        line-height: 40px;
    }
}
/*===================================*
    PRODUCT DETAIL SECTION
*===================================*/
@media only screen and (min-width: 1199px) {
    .gallery-top {
        height: 500px;
    }
}
